<h1>Help</h1>
<p>This is a very simple site with very intuitive navigational tools. You shouldn't have any problems using it.</p>
<p>But if you do encounter problems, you can email us at <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Send Mail</a>.</p>
<p>Or call our helpline at <a href="tel:555-555-1212">555-555-1212</a>.</p>
